:root {
  --color-main-background: #001C30;
  --color-main-text: #DAFFFB;
  --color-dark-blue: #176B87;
  --color-green: #A2FF86;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main-background);
  color: var(--color-main-text);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}